<div *ngIf="loggedIn()">
  <p>
    Logged In Successfully
  </p>
  <p (click)="logout()">
    Log Out
  </p>
</div>

<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header text-center">Log In</h4>
    <div class="card-body">
      <form [formGroup]="loginForm" class="form-signin" *ngIf="!loggedIn()" (submit)="login()">
        <div class="form-label-group">
          <input type="text" id="username" name="username" class="form-control" placeholder="User Name" required formControlName="username"
             
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" 
            />
          <label for="inputEmail">Username</label>
          <div *ngIf="submitted && username.errors" class="invalid-feedback">
              <div *ngIf="username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-label-group">
          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required
           />
          <label for="inputPassword">Password</label>
        </div>
        <button [disabled]="loading" class="btn btn-lg btn-primary btn-block" type="submit">
          Sign in
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        </button>
      </form>
    </div>
  </div>
</div>